@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@model Contact
@{
    ViewData["Title"] = "Home Page";
}


<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 pb-5 pb-lg-0 mb-lg-0">

                <h6>Scan The Smart Menu !</h6>

                <h1 class="text-white mb-4">NATA For QR Code Online Smart Menu</h1>

                <a href="#section_4" class="btn custom-btn smoothscroll me-3">Create Your QR</a>

                <a href="#section_2" class="link link--kale smoothscroll">Discover More</a>
            </div>

            <div class="hero-image-wrap col-lg-6 col-12 mt-3 mt-lg-0">
                <img src="~/NataHTML/images/education-online-books.png" class="hero-image img-fluid" alt="education online books">
            </div>

        </div>
    </div>
</section>


<section class="featured-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12">
                <div class="avatar-group d-flex flex-wrap align-items-center">
                    <img src="~/NataHTML/images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg" class="img-fluid avatar-image" alt="">

                    <img src="~/NataHTML/images/avatar/portrait-young-redhead-bearded-male.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                    <img src="~/NataHTML/images/avatar/pretty-blonde-woman.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                    <img src="~/NataHTML/images/avatar/studio-portrait-emotional-happy-funny-smiling-boyfriend.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                    <div class="reviews-group mt-3 mt-lg-0">
                        <strong>4.8</strong>

                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star"></i>

                        <small class="ms-3">1,564 reviews</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-lg-5"></section>


<section class="book-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <img src="~/NataHTML/images/tablet-screen-contents.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12">
                <div class="book-section-info">
                    <h6>Make Your Menu Creative</h6>


                    <h2 class="mb-4">About NATA</h2>

                    <p>
                        Welcome to NATA, your trusted partner in simplifying the dining experience for both restaurant owners and customers.
                        <br />
                        We specialize in creating QR codes for restaurant menus, making it easier than ever to access delectable dishes, specials, and more with just a scan of your smartphone.
                        <br />
                        At NATA, we understand the evolving needs of the hospitality industry, especially in the digital age.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h6>What's inside?</h6>

                <h2 class="mb-5">Preview at glance</h2>
            </div>

            <div class="col-lg-4 col-12">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link smoothscroll" href="#item-1">Introduction</a>

                        <a class="nav-link smoothscroll" href="#item-2">Our Mission</a>

                        <a class="nav-link smoothscroll" href="#item-3">Why Choose Us?</a>

                        <a class="nav-link smoothscroll" href="#item-4">Join Us</a>
                    </nav>
                </nav>
            </div>

            <div class="col-lg-8 col-12">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">

                    <div class="scrollspy-example-item" id="item-1">
                        <h5>Introducing NATA</h5>

                        <p>

                            With the rise of contactless dining and the importance of providing a safe and convenient experience for your patrons,
                            <br />
                            we've designed our service to meet these demands head-on.
                        </p>

                        <blockquote class="blockquote">With NATA, Scan .. Eat .. Repeat</blockquote>

                    </div>

                    <div class="scrollspy-example-item" id="item-2">
                        <h5>Our Mission</h5>

                        <p>
                            Our mission is to bridge the gap between technology and dining, enhancing the way people interact with restaurant menus.
                            <br />
                            We're passionate about helping restaurant owners:
                            <br />
                            Streamline Operations: We make it effortless for restaurants to digitize their menus and update them in real-time.
                            <br>
                            Say goodbye to printing costs and menu hassles.
                            <br />
                            Enhance Guest Experience: We empower customers to access menus instantly,
                            <br />
                            view vibrant images of dishes, read descriptions, and even filter items according to dietary preferences.

                        </p>

                        <div class="row">
                            <div class="col-lg-6 col-12 mb-3">
                                <img src="~/NataHTML/images/NATA-B.jpg" class="scrollspy-example-item-image img-fluid" alt="">
                            </div>

                            <div class="col-lg-6 col-12 mb-3">
                                <img src="~/NataHTML/images/businessman-sitting-by-table-cafe.jpg" class="scrollspy-example-item-image img-fluid" alt="">
                            </div>
                        </div>

                        <p>
                            Prioritize Safety: With QR code menus, we contribute to a safer dining experience by reducing physical contact with printed menus.
                            <br />
                            It's a simple yet effective step towards maintaining hygiene in your establishment.
                        </p>
                    </div>

                    <div class="scrollspy-example-item" id="item-3">
                        <h5>Why Choose Us?</h5>

                        <p>
                            User-Friendly: Our platform is designed to be user-friendly for both restaurant owners and their customers.
                            <br />
                            Creating and managing QR code menus is a breeze.
                            <br />
                            Customization: We understand that every restaurant is unique.
                            <br />
                            That's why we offer customizable QR code designs to match your brand's identity.
                            <br />
                            Reliability: You can count on us for dependable and secure QR code generation.
                            <br />
                            We ensure that your menus are always accessible, even during peak hours.
                        </p>

                        <div class="row align-items-center">
                            <div class="col-lg-6 col-12">
                                <img src="~/NataHTML/images/tablet-screen-contents.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>NATA SUPPORT TEAM</p>

                                <p>
                                    <strong>
                                        Dedicated Support: Our team is here to assist you every step of the way.
                                        <br />
                                        Whether you have questions, need assistance, or want to explore new features, we're just a message away.
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="scrollspy-example-item" id="item-4">
                        <h5>Join Us in Revolutionizing Dining</h5>

                        <p>
                            Join the growing community of restaurants that have embraced the future of dining with NATA.
                            <br />
                            Let us simplify your menu management and elevate the dining experience for your customers.
                            <br />
                            Whether you're a small cafe or a fine dining establishment, our QR code menus are designed to meet your needs.
                            <br />
                            Thank you for considering NATA as your partner in enhancing your restaurant's digital presence.
                            <br />
                            Together, we're shaping the future of dining, one QR code at a time.
                        </p>

                        <img src="~/NataHTML/images/workwithus.jpg" class="scrollspy-example-item-image img-fluid mb-3" alt="">

                        <p>Explore our services today and see the difference for yourself.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="author-section section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <img src="~/NataHTML/images/portrait-mature-smiling-authoress-sitting-desk.jpg" class="author-image img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <h6>Our Partners</h6>

                <div class="row">

                    @*<div class="col-md-3 partner-logo">

                        <img class="partner-img" src="~/LogoImages/631b7447-0654-44b9-a920-cb9c5e8035a5_sahdy.jpg" id="ShadyImage" />

                    </div>*@

                    <div class="col-md-3 partner-logo">

                        <img class="partner-img" src="~/LogoImages/9dfa62c2-b633-4e5b-a90b-d8f3759b769e_restaurant-logo-design-(1)-template-b9bd726f6bee3380567f1c9b63a8c99b_screen.jpg" id="DemoImage" />

                    </div>

                    @*<div class="col-md-3 partner-logo">
            <img class="partner-img" src="~/NataHTML/images/partners/dop.png" />
        </div>

        <div class="col-md-3 partner-logo">
            <img class="partner-img" src="~/NataHTML/images/partners/kfc.png" />
        </div>

        <div class="col-md-3 partner-logo">
            <img class="partner-img" src="~/NataHTML/images/partners/mac.png" />
        </div>

        <div class="col-md-3 partner-logo">
            <img class="partner-img" src="~/NataHTML/images/partners/pop.png" />
        </div>

        <div class="col-md-3 partner-logo">
            <img class="partner-img" src="~/NataHTML/images/partners/pzh.png" />
        </div>

        <div class="col-md-3 partner-logo">
            <img class="partner-img" src="~/NataHTML/images/partners/sbc.png" />
        </div>*@

                </div>

            </div>

        </div>
    </div>
</section>

<footer class="border-top footer text-muted">
    <section class="contact-section section-padding" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-12 mx-auto">
                    <form class="custom-form download-form bg-white shadow" asp-action="Index" asp-controller="Home" method="post">
                        <div class="text-center mb-5">
                            <h2 class="mb-1">Get Your QR-Code Menu</h2>
                        </div>

                        <div class="download-form-body">
                            <div class="input-group mb-4">
                                <input type="text" asp-for="Name" class="form-control" aria-label="form-name" aria-describedby="basic-addon1" placeholder="Full Name" required="">

                                <span class="input-group-text" id="basic-addon1">
                                    <i class="custom-form-icon bi-person"></i>
                                </span>
                            </div>

                            <div class="input-group mb-4">
                                <input type="text" asp-for="Mobile" class="form-control" aria-label="form-phone" aria-describedby="basic-addon1" placeholder="0787878787" required="">

                                <span class="input-group-text" id="basic-addon1">
                                    <i class="custom-form-icon bi bi-telephone"></i>
                                </span>
                            </div>

                            <div class="input-group mb-4">
                                <input type="email" asp-for="Email" class="form-control" placeholder="name@domain.com" aria-label="form-email" aria-describedby="basic-addon2" required="">

                                <span class="input-group-text" id="basic-addon2">
                                    <i class="custom-form-icon bi-envelope"></i>
                                </span>
                            </div>

                            <div class="input-group mb-4">
                                <input type="text" asp-for="RestaurentName" class="form-control" aria-label="form-company" aria-describedby="basic-addon1" placeholder="Restaurent Name" required="">

                                <span class="input-group-text" id="basic-addon1">
                                    <i class="custom-form-icon bi-building"></i>
                                </span>
                            </div>

                            <div class="col-lg-8 col-md-10 col-8 mx-auto">
                                <button type="submit" class="form-control">Submit</button>
                                @* <input type="submit" value="Submit" class="form-control" />*@
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6 col-12">
                    <h6 class="mt-5">Say hi and talk to us</h6>

                    <h2 class="mb-4" style="color: white;">Contact</h2>

                    <p class="mb-3">
                        <a href="https://maps.google.com" class="contact-link">
                            <i class="bi-geo-alt me-2"></i>
                            Amman, Jordan
                        </a>
                    </p>

                    <p class="mb-2">
                        <a href="tel: 0795894376" class="contact-link">
                            <i class="bi bi-telephone"></i>
                            0795894376
                        </a>
                    </p>

                    <p>
                        <a href="mailto:Support@nataqr.com" class="contact-link">
                            <i class="bi bi-envelope"></i>
                            Support@nataqr.com
                        </a>
                    </p>

                    <h6 class="site-footer-title mt-5 mb-3">Social</h6>

                    <ul class="social-icon mb-4">
                        <li class="social-icon-item">
                            <a href="https://www.instagram.com/nataqrcode/" class="social-icon-link bi-instagram"></a>
                        </li>
                         

                        <li class="social-icon-item">
                            <a href="https://facebook.com/NataQR" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://wa.me/962795894376" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>

                    <p class="copyright-text">
                        2023 &copy; NataQR All Rights Reserved | Powered By
                        <a rel="nofollow" class="contact-link" style="text-decoration: underline;" href="https://das-vision.com/" target="_blank">DAS Vision</a>
                    </p>
                </div>

            </div>
        </div>
    </section>
</footer>

<script>
    // Get a reference to the image element
    var image = document.getElementById("ShadyImage");

    // Add a click event listener to the image
    image.addEventListener("click", function () {
        // Construct the URL based on the controller and action
        var baseUrl = window.location.origin; // Get the base URL of the current page
        var controller = "Menus"; // Replace with your controller name
        var action = "Shady"; // Replace with your action name

        // Construct the full URL
        var url = baseUrl + "/" + controller + "/" + action;

        // Redirect to the constructed URL
        window.location.href = url;
    });
</script>
<script>
    // Get a reference to the image element
    var image = document.getElementById("DemoImage");

    // Add a click event listener to the image
    image.addEventListener("click", function () {
        // Construct the URL based on the controller and action
        var baseUrl = window.location.origin; // Get the base URL of the current page
        var controller = "Menus"; // Replace with your controller name
        var action = "Demo"; // Replace with your action name

        // Construct the full URL
        var url = baseUrl + "/" + controller + "/" + action;

        // Redirect to the constructed URL
        window.location.href = url;
    });
</script>
  



