@model QRMenu.Models.ShadyMenu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ShadyMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShadyMenuId" />
            <div class="form-group">
                <label asp-for="ItemNameAR" class="control-label"></label>
                <input asp-for="ItemNameAR" class="form-control" />
                <span asp-validation-for="ItemNameAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNameEN" class="control-label"></label>
                <input asp-for="ItemNameEN" class="form-control" />
                <span asp-validation-for="ItemNameEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" id="priceInput" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    // Attach an event listener to the input field
    document.getElementById("priceInput").addEventListener("input", function () {
        var input = this.value.trim();

        // Use a regular expression to check if the input is a valid number (integer or decimal)
        if (/^\d+(\.\d{1,2})?$/.test(input)) {
            // Input is valid
            this.setCustomValidity('');
        } else {
            // Input is not valid
            this.setCustomValidity('Please enter a valid number.');
        }
    });
</script>